@import '../Mixens'; 

.four-section {
    @include Position-And-Size(relative , 100% , 60vh);
    @include Center(flex , center , center);
    .BackBox {
        @include Center(flex , center , center);
        @include Position-And-Size(default , 1100px , 300px);
        background-image: url(./Main-Section.jpg);
        background-size: cover;
        border-radius: 20px;
        .container {
            @include Center(flex , center , space-between);
            @include Position-And-Size(default , 1000px , 250px);
            backdrop-filter: blur(25px);
            border: 2px solid rgb(206, 205, 205);
            border-radius: 20px;
            box-shadow: 5px 5px 10px rgba(0 ,0, 0, 0.3);
            padding: 5px 10px;
            .BoxF {
                @include Center(flex , center , center);
                @include Position-And-Size(default , 550px , 200px);
                border-radius: 20px;
                flex-wrap: wrap;
                flex-direction: column;
                h2 {
                    color: #fff;
                    font-weight: 600;
                }
                p {
                    color: rgb(211, 209, 209);
                    font-weight: 400;
                }
            }
            .BoxS {
                @extend .BoxF;
                width: 350px;
                .StartBtn {
                    @include Position-And-Size(default , 250px , 80px);
                    font-size: 1.2em;
                    border: none;
                    border-radius: 20px;
                    background-image: linear-gradient(to top ,#3EADCF , #36096D);
                    color: #fff;
                    box-shadow: 5px 5px 10px rgba(0 ,0, 0, 0.3);
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover {
                        position: relative;
                        transform: translateY(-15px);
                    }
                }
            }
        }
    }
    .LineImg {
        @include Position-And-Size(absolute , 100% , 100px);
        left: 50%;
        top: 80%;
        transform: translate(-50% , -50%);
        img {
            position: absolute;
            width: 100%;
        }
    }
}