@import '../Mixens';


.second-section {
    @include Position-And-Size(relative , 100% , default);
    height: fit-content;
    margin-top: -80px;
    .container {
        @include Container(
            100% , 100% , flex , center ,
            space-between , wrap , 10px 20px
        );
        transition: 0.5s;
        .Box1 {
            @include Position-And-Size(default , 350px , 300px);
            padding: 5px 10px;
            margin: 10px 0px;
            .imageDiv {
                @include Position-And-Size(relative , 100px , 100px);
                background-color: #fff;
                border-radius: 50%;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
                margin-bottom: 10px;
                .imageContainer {
                    position: absolute;
                    inset: 10px;
                    background-color: #fff;
                    border-radius: 50%;
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
                    img {
                        @include Position-And-Size(absolute , 40px , default);
                        left: 50%;
                        top: 50%;
                        transform: translate(-50% , -50%);
                    }
                }
            }
            .Others {
                padding: 5px;
                h2 {
                    color: #000;
                    margin-bottom: 7px;
                }
                p {
                    color: rgb(39, 38, 38);
                }
            }
        }
        .Box2 {
            @extend .Box1;
        }
        .Box3 {
            @extend .Box1
        }
    }
    .active {
        bottom: 0px;
        opacity: 1;
    }
}