@import '../Mixens';

.third-section {
    @include Position-And-Size(relative , 100% , default);
    min-height: fit-content;
    .container {
        @include Container(
            100% , 100% , flex , center , 
            space-between , wrap , 10px 20px
        );
        .Box {
            @include Position-And-Size(default , 650px , 600px);
            border-radius: 20px;
            margin: 10px 0px;
        }
        .CBox {
            position: relative;
            padding: 5px 10%;
            @include Center(flex , center , default);
            flex-direction: column;
            .title {
                @include Position-And-Size(relative , 600px , 60px);
                margin: 10px;
                .container {
                    @include Position-And-Size(absolute , 100% , 100%);
                    @include Center(flex , center , default);
                    padding: 2px 10px;
                    .TitleText {
                        @include Position-And-Size(relative , 150px , 30px);
                        @include Center(flex , center , center);
                        background-color: #fff;
                        border-radius: 10px;
                        color: #000;
                        font-weight: 600;
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                        &::before {
                            content: '';
                            @include Position-And-Size(absolute , 12px , 12px);
                            border-radius: 50%;
                            background-image: linear-gradient(to top ,#3EADCF , #36096D);
                            left: 10%;
                            top: 50%;
                            transform: translate(-50% , -50%);
                        }
                        &::after {
                            content: '';
                            @include Position-And-Size(absolute , 12px , 12px);
                            border-radius: 50%;
                            background-image: linear-gradient(to top ,#3EADCF , #36096D);
                            right: 5%;
                            top: 50%;
                            transform: translate(-50% , -50%);
                        }
                    }
                }
            }
            .Desc {
                @include Position-And-Size(default , 600px , 250px);
                margin-bottom: 10px;
                padding: 5px 10px;
                h2 {
                    color: #000;
                    font-weight: 600;
                    font-size: 2em;
                    margin-bottom: 10px;
                }
                p {
                    color: rgb(66, 65, 65);
                    font-weight: 300;
                }
            }
            .Extentions {
                @include Position-And-Size(relative , 600px , 180px);
                margin-bottom: 5px;
                .container {
                    @include Position-And-Size(absolute , 100% , 100%);
                    @include Center(flex , center , space-between);
                    flex-wrap: wrap;
                    .EXBox {
                        @include Position-And-Size(relative , 250px , 40px);
                        background-color: #fff;
                        margin: 5px 0px;
                        border-radius: 10px;
                        .iconArea {
                            @include Position-And-Size(absolute , 20% , 100%);
                            left: 0;
                            span {
                                position: absolute;
                                left: 60%;
                                top: 60%;
                                transform: translate(-50% , -50%);
                                font-size: 1.5em;
                            }
                        }
                        .TextArea {
                            @include Position-And-Size(absolute , 80% , 100%);
                            @include Center(flex , center , start);
                            right: 0;
                            p {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .SubscribButton {
                @include Position-And-Size(default , 600px , 100px);
                padding: 5px 15px;
                .ABtn {
                    @include Position-And-Size(default , 300px , 70px);
                    background-image: linear-gradient(to top ,#3EADCF , #36096D);
                    color: #fff;
                    border: none;
                    border-radius: 20px;
                    font-size: 1.4em;
                    font-weight: 700;
                    cursor: pointer;
                    transition: 0.5s;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                    &:hover {
                        position: relative;
                        transform: translateY(-15px);
                    }
                }
            }
        }
        .IBox {
            position: relative;
            @include Center(flex , center , center);
            img {
                width: 100%;
            }
        } 
    }
}